.Social-top {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.UserIcon {
  width: 24px;
  height: 24px;
}

.Social__title {
  font-size: 30px;
  font-weight: 1000;
  margin: 0 12px;
  pointer-events: none;
}

.PlusWrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.PlusIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.FloatingInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 541px;
  height: 61px;
  font-size: 14px;
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  z-index: 10;
  background-color: #f5f4df;
}

.Social-texts {
  margin-top: 12px;
}

.Social__name {
  padding-left: 50px;
  width: 140px;
  overflow: hidden;
}

.Social__name-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-shrink: 0;
}

.Social__name-each {
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.UnfollowText {
  font-size: 15px;
  color: #ff0000;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}
