.topbar__container{

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80%;
}

.topbar__bar{
 display: flex;
 justify-content: center;
}

.topbar__texts{
  display: flex;
  position: absolute;
  justify-content: center;
  width: 80%;
}

.topbar__text{
  margin: 25px;
  font-size: 18px;
}

.topbar__title{
  margin: 20px;
  font-size: 30px;
  margin-left: 80px;
  font-weight: 1000;

}

.topbar__user{
  margin: 25px;
  font-size: 17px;
  font-weight: 1000;
}